h1,ul
{
color: blue;
  text-align:center;
  list-style-type:none;
}
p{
  text-align:center;
  color:black;
}

p.strong{
 color:black;
}
label{
display:inline-block;
float:left;
clear:left;
text-align:right;
color:blue;
}

img
{
 padding-left:150px;
 padding-top:100px;
}
